[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
plugin-sdk = {path = "./plugin_sdk-1.199.47.20200729.170225-py3-none-any.whl"}

[requires]
python_version = "3.6"
